@page "/"

<div class="row">
    <div class="col-12">
        <img src="images/hero.png" class="img-fluid" alt="banner" />
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1 class="text-center">클라우드 유랑단</h1>
        <p class="text-center fs-2">여러분 곁의 클라우드</p>
    </div>
</div>

<div class="row">
    <div class="col-2 text-center">&nbsp;</div>
    <div class="col-4">
        <div class="card">
            <a href="https://festa.io/hosts/1353" class="btn btn-primary" title="유랑단 일정 바로 가기"><img src="https://placekitten.com/400/400" class="card-img-top" alt="유랑일지"></a>
            <div class="card-body text-center">
                <h2 class="card-title">유랑일지</h2>
                <p class="card-text">유랑단 유랑 일정</p>
                <a href="https://festa.io/hosts/1353" class="btn btn-primary" title="유랑단 일정 바로 가기">바로 가기</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <a href="https://www.youtube.com/channel/UCMi1bjg1Z4tWyKHBsU6X7dg" class="btn btn-primary" title="유랑단 유튜브 채널 바로 가기"><img src="https://placekitten.com/400/400" class="card-img-top" alt="유랑기록"></a>
            <div class="card-body text-center">
                <h2 class="card-title">유랑기록</h2>
                <p class="card-text">유랑단 유튜브 채널</p>
                <a href="https://www.youtube.com/channel/UCMi1bjg1Z4tWyKHBsU6X7dg" class="btn btn-primary" title="유랑단 유튜브 채널 바로 가기">바로 가기</a>
            </div>
        </div>
    </div>
    <div class="col-2 text-center">&nbsp;</div>
</div>
